<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Codifica Labs</title>
  <!-- how to style -->
  <link rel="stylesheet" href='@routes.Assets.at("css/main.css")'>
</head>

<body>
  <div>
    Hello
  </div>
</body>

<script src='@routes.WebJarAssets.at(WebJarAssets.locate("react-with-addons.min.js"))'></script>
<script src='@routes.Assets.at("js/scripts.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("js/App.js")'></script>
<script>
  React.render(
      React.createElement(App, null),
      document.getElementById("application")
  );
</script>
</html>
